@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --main-dark: #202020;
  --main-headline-light: #fdf1e9;
  --main-background-light: #fefcfa;
}

body {
  background-color: var(--main-background-light);
}

header {
  font-family: 'Special Elite', cursive;
  background-color: var(--main-dark);
  color: var(--main-headline-light);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}


